#calculator {
  border:solid 1px #ff9a00;
  font-size: 12px;
  border-spacing: 0;
  width: 100%;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-collapse: collapse;
  line-height: 1.5;
}
#calculator tbody {border: none;}
#calculator tr,
#calculator tr.even {
  background: #efefef;
  background: rgba(0, 0, 0, 0.03);
}
#calc-widget {margin: 0; border: none;}
#calc-widget input {text-align: right;}
#calculator tr td,
#calculator tr th {
  padding: 4px 9px;
  border: 1px solid #fff;
  text-align: left;
  display: table-cell;
  vertical-align: inherit;
}
#calc-widget td label {display: none;}
#calc-widget td .form-type-textfield {margin: 0;}

#edit-actions .back_button {float: left;}
#edit-actions .next_button #edit-next,
#edit-actions #edit-submit {margin: 0;}
#edit-actions .next_button,
#edit-actions .submit_button {float: right;}
.form-item input.error,
.form-item textarea.error,
.form-item select.error {border: 1px solid red;}
.error {color: #8c2e0b;}
input.form-text,
textarea.form-textarea,
select.form-select {border: 1px solid #ccc;}